/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 4, 2015, 6:24:46 PM
    Author     : xgao3
*/

#body{
    
}
#navbar{
    position: absolute;
    width: 100%;
    height: 40px;
    top: 0px;
}
page1,page2,page3,page4,page5{
    display: inline-block;
    border: none;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 40px;
    padding-top: 5px;
    width: 100px;
}

#content {
	position:absolute;
	width:70%;
	height:80px;
	text-align:center;
	padding-top:10px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
	top:50px;
        left:16%;
}

#bannerpic{
    width:100%;
}

#writing{
    text-align: center;
    width: 100%; 
    border: 1px solid #000000;
    word-wrap: break-word;
}