/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 4, 2015, 6:24:29 PM
    Author     : xgao3
*/
body{
     font-family: 'Slabo 27px', serif;
     background-image: url("http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg");
    background-repeat: no-repeat;
     background-attachment: fixed;

}

#writing{
    background-color: #ffffff;
  border: 1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60);
}

#navbar{
    border-bottom: 1px solid gray;
        line-height: 40px;
            background-color: #F7F1C6;
    border-bottom-color: black;
    
}
