/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 4, 2015, 7:46:17 PM
    Author     : xgao3
*/

body{
font-family: 'Open Sans', sans-serif;
    background-color: #97CBFF;
}

#writing{
    background-color: #ffffff;
  border: 1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60);
}

#navbar{
    border-bottom: 1px solid gray;
        line-height: 40px;
    border-bottom-color: black;
    
}