.page_edit_toolbar{
    -fx-background-color:lightblue;
    
    -fx-alignment: center;
    -fx-orientation: vertical;
    
}
.page_edit_toolbar_icons{
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
}
.file_toolbar{
    -fx-background-color:white;
}

.site_toolbar, .mode_toolbar{
    -fx-background-color:lightgray;
    
    -fx-orientation:horizontal;
    -fx-vgap:10;
    
}