.page_edit_toolbar{
    -fx-background-color:lightblue;
    -fx-alignment: center;
    -fx-orientation: vertical;
    -fx-spacing: 20px;
    border-style: ridge;
    -fx-hgap:25;
    -fx-vgap:15;
}
.dialog{
    -fx-spacing: 20px;
    -fx-padding: 15;
    -fx-hgap:15;
    -fx-vgap:10;
}
.page_edit_toolbar_icons{
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 20px;
    
    -fx-hgap:25;
    -fx-vgap:15;
}
.file_toolbar{
    -fx-background-color:lightcyan;
    -fx-border-style:solid;
    -fx-border-width:2px;
    -fx-border-color:green;
}

.site_toolbar{
    -fx-background-color:lightblue;
    -fx-alignment:CENTER;
    -fx-orientation:horizontal;
     
    -fx-hgap:20;
    -fx-vgap:10;
    
    
}
.tabPane a{
    -fx-font-size:30;
}
.tabPane{
    spacing:20;
    -padding: 10;
    -fx-border-radius:10px;
    -fx-background-color:lightsteelblue;
    -fx-border-style:solid;
    -fx-border-width:2px;
    -fx-border-color:gray;
    -fx-font-size:35;
}.selected_tabPane{
    -fx-spacing:20;
    -padding: 10;
    -fx-border-radius:10px;
    -fx-background-color:#ccccff;
    -fx-border-style:solid;
    -fx-border-width:2px;
    -fx-border-color:gray;
    -fx-font-size:35;
}
.mode_toolbar{
    -fx-background-color:lightblue;
    -fx-alignment:CENTER;
    -fx-orientation:horizontal;
    border-style: ridge;
    
    -fx-hgap:15;
    -fx-vgap:10;
    
}